



/* Couleur du bandeau #463F32 */
.navbar-static-top {
    background-color: #000000;
    border-color: #000000;
}


/* Taille du bandeau */
.navbar {
	min-height: 62px;
	}

/* mettre le titre de la page au dessus du menu de navigation */
  .navbar-header { width:100%; background-color: #000000}.navbar-brand { width: 100%; text-align: center; font-family:times; font-size:28pt ; font-type:bold }
/* Couleur message d'erreur*/
.shiny-output-error-validation {
	color: green;
	size: 225px ;
	padding-left: 25;
	}


/* Couleur du fond
body	 {
	background-image: url( http://papillondamour.p.a.pic.centerblog.net/fb850229.jpg );
	background-color : white;
	background-attachment:fixed;
	background-repeat:repeat;
}
*/



/* Couleur du fond */
body	 {
	background-color : white;
}


/* Juste pour le padding de la home-page */
.container-fluid { padding-left: 0; padding-right: 0; }


/* Petite boxe pour sélectionner les data
.shiny-input-container:not(.shiny-input-container-inline) {
    max-width: 13%;
}
*/



/* CSS des lignes hr() (page de doc) */
hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}
