



/* Couleur du bandeau */
.navbar-static-top {
    background-color: #463F32;
    border-color: #463F32;
}


/* Taille du bandeau */
.navbar {
	min-height: 62px;
	}
	
	
/* Couleur du fond
body	 {
	background-image: url( http://papillondamour.p.a.pic.centerblog.net/fb850229.jpg );
	background-color : white;
	background-attachment:fixed;
	background-repeat:repeat;
} 
*/



/* Couleur du fond */
body	 {
	background-color : white;
} 


/* Juste pour le padding de la home-page */
.container-fluid { padding-left: 0; padding-right: 0; }



