.universal_header{font-family:arial, helvetica, sans-serif;font-size:13px;height:2em;background-color:#369}
ul.resources_list{margin-left:1.3em;float:left}
ul.resources_list>li.ui-ncbimenu-item-first { margin-right: 0.5em; }
.myncbi a{color:#fff}
#ncbihome{padding:.25em 0 0;padding-right:.8em;margin:0;color:#fff}
#ncbihome:focus{background:transparent; outline: 1px dotted #fff;}
.myncbi{float:right;position:relative;top:.4em;color:#fff;right:1em;*top: .3em}
.myncbi a{margin-left:1em}
#mnu{margin-left:0}
ul.jig-ncbimenu a.topanchor{color:#fff}
ul.jig-ncbimenu a:hover{text-decoration:none}
.ui-ncbimenu-item{background-color:#fcfcfc;border-bottom:1px dotted #e5e5e5}
.ui-ncbimenu li.ui-ncbimenu-item-first a.ui-ncbimenu-first-link-has-submenu{padding:.45em 20px .2em 0;*padding-top: .5em}
body ul.ui-ncbimenu-submenu{ border: 1px solid #ddd; border-bottom: 1px solid #aaa; border-right: 1px solid #aaa;
-webkit-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3);-moz-box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3);box-shadow: 0.4em 0.4em 0.5em rgba(0,0,0,.3)}
body .ui-ncbimenu-item-first-active,body ul li a.ui-ncbimenu-item-active{background-color:#4C96DF;color:#fff}
.footer{clear:both;margin-top:1em}
#footer, #NCBIFooter_dynamic{font-family:arial, helvetica, sans-serif;font-size:11px;line-height:1.8em}
#NCBIFooter_dynamic{position:relative;top:1.4em;*top:.4em;z-index:10;font-size:11px;color:#505050;clear:both}
.breadcrumbs{position:absolute;left:1.6em;top:1.1em}
.help_desk{position:absolute;top:1.1em;right:1em}
#NCBIFooter_dynamic a,#footer a{text-decoration:none;color:#14376c}
#NCBIFooter_dynamic a:hover,#footer a:hover,.contact_info a:hover{text-decoration:underline}
#footer-contents-right{float:right;text-align:right}
#footer-contents-right a{float:left;height:41px;overflow:hidden;padding-top:14px;text-indent:10em}
#footer-contents-right div{display:inline}
#nlm_thumb_logo a{background:transparent url(/coreweb/images/ncbi/footer/footer_imgs.png) no-repeat scroll 0 100%;width:34px;margin-right:14px}
#nih_thumb_logo a{background:transparent url(/coreweb/images/ncbi/footer/footer_imgs.png) no-repeat scroll -35px 100%;width:40px;margin-right:14px}
#hhs_thumb_logo a{background:transparent url(/coreweb/images/ncbi/footer/footer_imgs.png) no-repeat scroll -75px 100%;width:39px;margin-right:14px}
#usagov_thumb_logo a{background:transparent url(/coreweb/images/ncbi/footer/footer_imgs.png) no-repeat scroll -114px 100%;width:89px}
#footer-contents-left p.address{margin:0px;line-height:18px}
#footer-contents-left a{font-weight:bold}
#footer-contents-left span.url a{font-weight:normal}
#footer-contents-left p.address .adr{display:block}
#footer{background:#e5e5e5 url(//static.pubmed.gov/portal/portal3rc.fcgi/4080593/img/3418709) repeat-x scroll left top;clear:both;zoom:1;z-index:1}
#footer,.contact_info{color:#14376c;background-color:#fff;overflow:visible;text-align:center;}
.foot_list{margin:0;padding:0;width:20%;float:left;text-align:left;margin-top:4.5em;width:19\0%;*width:19%}
.foot_list li{list-style-type:none;}
.foot_list li h3{text-transform:uppercase;margin:0;margin-bottom:.05em;}
.offscreen_noflow{float:left;text-indent:-9999em;_display:block;margin:0;padding:0;height:0;}
.contact_info{clear:both;text-align:left;margin:1em 1.6em}
.subfooter{margin-left:1.6em;overflow:hidden}
#footer #external-disclaimer { padding: 0.682em; line-height: 1em; } 
#footer #external-disclaimer a { text-decoration: underline }